nav {
    width: 1600px;
    height: 100px;
    flex-shrink: 0;
    background: #6BD489;
    color: #FFF;
    font-family: Piazzolla;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}